<div id="link-container">
  <h1>Feed Generator:</h1>
  <h2>Input RSS Feed</h2>
  <%= form_tag("/combine-feed", method: "post", remote: true) do %>
    <fieldset>
      <legend>Reddit Input RSS Feed</legend>
      <div class="input-rss-container">
        <div class="input-rss-item">
          <!-- <input type="text" name="reddit_input_rss[]" class="input-rss form-control"> -->
          <%= select_tag "reddit_input_rss[]", options_for_select(InputFeed.where(feed_type: 'reddit').collect{ |u| [u.url, u.id] }), include_blank: true, class: "input-rss form-control" %>
          <button class="remove button" type="button">-</button>
        </div>
      </div>
      <div style="margin-top: 20px;">
        <button class="add-more button" type="button">+</button>
      </div>
    </fieldset>
    <fieldset>
      <legend>Google Alert Input RSS Feed</legend>
      <div class="input-rss-container">
        <div class="input-rss-item">
          <!-- <input type="text" name="google_input_rss[]" class="input-rss form-control"> -->
          <%= select_tag "google_input_rss[]", options_for_select(InputFeed.where(feed_type: 'google').collect{ |u| [u.url, u.id] }), include_blank: true, class: "input-rss form-control" %>
          <button class="remove button" type="button">-</button>
        </div>
      </div>
      <div style="margin-top: 20px;">
        <button class="add-more button" type="button">+</button>
      </div>
    </fieldset>
    <div style="margin-top: 20px;">
      <%= submit_tag("Output", class: 'submit button') %>
    </div>
  <% end %>
  <h2>Output RSS Feed</h2>
  <div style="margin-top: 20px;">
    <textarea id="output-rss" rows="10"></textarea>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.add-more').on('click', function() {
      $inputRssContainer = $(this).closest('fieldset').find('.input-rss-container');
      $inputRssContainer.append($inputRssContainer.find('.input-rss-item')[0].outerHTML);
    })

    $('.input-rss-container').on('click', '.remove', function() {
      $inputRssContainer = $(this).closest('fieldset').find('.input-rss-container');
      if ($inputRssContainer.find('.input-rss-item').length > 1) {
        $(this).parent().remove();
      }
    })
  });
</script>

