<div id="link-container">
  <h1>Reddit Feed Links:</h1>
  <% @reddit_links.each do |link| %>
    <a href="<%= link %>" class="link"><%= link %></a>
  <% end %>
</div>

<style>
  #link-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .link {
    display: block;
    font-size: 20px;
    line-height: 25px;  
  }
</style>

<script type="text/javascript">
  $(document).ready(function() {
  });
</script>

