<div class="header">
  <%= link_to 'Home', root_path %>
  <%= link_to 'Feeds', input_feeds_path %>
</div>


<style>
  .header {
    margin-top: 10px;
    text-align: right;
  }
  .header a {
    padding: 15px 20px;
    background-color: #ccc;
    color: black;
    text-decoration: blink;
    display: inline-block;
    margin-left: 20px;
  }
</style>